body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

.breed-select {
  display: none;
  margin-bottom: 10px;
}

.loader, .error {
  display: none;
  text-align: center;
  font-weight: bold;
}

.cat-info {
  display: none;
  margin-top: 20px;
  text-align: center;
}

.cat-image {
  max-width: 100%;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}
.breed-name {
  font-size: 1.2em;
}

.breed-description {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.breed-temperament {
  font-size: 1.1em;
}